<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.softwarecollege.infocenter.mapper.AvgPoMapper">
  <resultMap id="BaseResultMap" type="com.hnu.softwarecollege.infocenter.entity.po.AvgPo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CLASSNAME" jdbcType="VARCHAR" property="classname" />
    <result column="FENGSHU" jdbcType="DOUBLE" property="fengshu" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CLASSNAME, FENGSHU
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_avg
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_avg
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hnu.softwarecollege.infocenter.entity.po.AvgPo">
    insert into tbl_avg (ID, CLASSNAME, FENGSHU
      )
    values (#{id,jdbcType=BIGINT}, #{classname,jdbcType=VARCHAR}, #{fengshu,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.AvgPo">
    insert into tbl_avg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="classname != null">
        CLASSNAME,
      </if>
      <if test="fengshu != null">
        FENGSHU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="fengshu != null">
        #{fengshu,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.AvgPo">
    update tbl_avg
    <set>
      <if test="classname != null">
        CLASSNAME = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="fengshu != null">
        FENGSHU = #{fengshu,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnu.softwarecollege.infocenter.entity.po.AvgPo">
    update tbl_avg
    set CLASSNAME = #{classname,jdbcType=VARCHAR},
      FENGSHU = #{fengshu,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>