<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.softwarecollege.infocenter.mapper.CenterPoMapper">
  <resultMap id="BaseResultMap" type="com.hnu.softwarecollege.infocenter.entity.po.CenterPo">
    <id column="CENTER_ID" jdbcType="BIGINT" property="centerId" />
    <result column="USER_KEY" jdbcType="BIGINT" property="userKey" />
    <result column="DEGREE_KEY" jdbcType="BIGINT" property="degreeKey" />
    <result column="WEATHER_CODE" jdbcType="INTEGER" property="weatherCode" />
  </resultMap>
  <sql id="Base_Column_List">
    CENTER_ID, USER_KEY, DEGREE_KEY, WEATHER_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_center
    where CENTER_ID = #{centerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_center
    where CENTER_ID = #{centerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CenterPo">
    insert into tbl_center (CENTER_ID, USER_KEY, DEGREE_KEY, 
      WEATHER_CODE)
    values (#{centerId,jdbcType=BIGINT}, #{userKey,jdbcType=BIGINT}, #{degreeKey,jdbcType=BIGINT}, 
      #{weatherCode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CenterPo">
    insert into tbl_center
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="centerId != null">
        CENTER_ID,
      </if>
      <if test="userKey != null">
        USER_KEY,
      </if>
      <if test="degreeKey != null">
        DEGREE_KEY,
      </if>
      <if test="weatherCode != null">
        WEATHER_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="centerId != null">
        #{centerId,jdbcType=BIGINT},
      </if>
      <if test="userKey != null">
        #{userKey,jdbcType=BIGINT},
      </if>
      <if test="degreeKey != null">
        #{degreeKey,jdbcType=BIGINT},
      </if>
      <if test="weatherCode != null">
        #{weatherCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CenterPo">
    update tbl_center
    <set>
      <if test="userKey != null">
        USER_KEY = #{userKey,jdbcType=BIGINT},
      </if>
      <if test="degreeKey != null">
        DEGREE_KEY = #{degreeKey,jdbcType=BIGINT},
      </if>
      <if test="weatherCode != null">
        WEATHER_CODE = #{weatherCode,jdbcType=INTEGER},
      </if>
    </set>
    where CENTER_ID = #{centerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CenterPo">
    update tbl_center
    set USER_KEY = #{userKey,jdbcType=BIGINT},
      DEGREE_KEY = #{degreeKey,jdbcType=BIGINT},
      WEATHER_CODE = #{weatherCode,jdbcType=INTEGER}
    where CENTER_ID = #{centerId,jdbcType=BIGINT}
  </update>
  <select id="selectByUserKey" parameterType="java.lang.Long" resultType="java.lang.Long">
    select CENTER_ID
    from tbl_center
    where USER_KEY = #{userKey,jdbcType=BIGINT}
  </select>
  <update id="updateWeatherCodeByPrimaryKey">
    update tbl_center
    set WEATHER_CODE = #{weatherCode,jdbcType=INTEGER}
    where CENTER_ID = #{centerID,jdbcType=BIGINT}
  </update>
</mapper>