<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.softwarecollege.infocenter.mapper.CommentPoMapper">
  <resultMap id="BaseResultMap" type="com.hnu.softwarecollege.infocenter.entity.po.CommentPo">
    <id column="COMMENT_ID" jdbcType="BIGINT" property="commentId" />
    <result column="RES_KEY" jdbcType="BIGINT" property="resKey" />
    <result column="USER_KEY" jdbcType="BIGINT" property="userKey" />
    <result column="COMMENT_CHILD_ID" jdbcType="BIGINT" property="commentChildId" />
    <result column="COMMENT_PARENT_ID" jdbcType="BIGINT" property="commentParentId" />
    <result column="COMMENT_DATE" jdbcType="TIMESTAMP" property="commentDate" />
    <result column="COMMENT_ISANONYMITY" jdbcType="VARCHAR" property="commentIsanonymity" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hnu.softwarecollege.infocenter.entity.po.CommentPo">
    <result column="COMMENT_CONTEXT" jdbcType="VARCHAR" property="commentContext" />
  </resultMap>
  <sql id="Base_Column_List">
    COMMENT_ID, RES_KEY, USER_KEY, COMMENT_CHILD_ID, COMMENT_PARENT_ID, COMMENT_DATE, 
    COMMENT_ISANONYMITY
  </sql>
  <sql id="Blob_Column_List">
    COMMENT_CONTEXT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tbl_comment
    where COMMENT_ID = #{commentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_comment
    where COMMENT_ID = #{commentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CommentPo">
    insert into tbl_comment (COMMENT_ID, RES_KEY, USER_KEY, 
      COMMENT_CHILD_ID, COMMENT_PARENT_ID, COMMENT_DATE, 
      COMMENT_ISANONYMITY, COMMENT_CONTEXT)
    values (#{commentId,jdbcType=BIGINT}, #{resKey,jdbcType=BIGINT}, #{userKey,jdbcType=BIGINT}, 
      #{commentChildId,jdbcType=BIGINT}, #{commentParentId,jdbcType=BIGINT}, #{commentDate,jdbcType=TIMESTAMP}, 
      #{commentIsanonymity,jdbcType=VARCHAR}, #{commentContext,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CommentPo">
    insert into tbl_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        COMMENT_ID,
      </if>
      <if test="resKey != null">
        RES_KEY,
      </if>
      <if test="userKey != null">
        USER_KEY,
      </if>
      <if test="commentChildId != null">
        COMMENT_CHILD_ID,
      </if>
      <if test="commentParentId != null">
        COMMENT_PARENT_ID,
      </if>
      <if test="commentDate != null">
        COMMENT_DATE,
      </if>
      <if test="commentIsanonymity != null">
        COMMENT_ISANONYMITY,
      </if>
      <if test="commentContext != null">
        COMMENT_CONTEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="resKey != null">
        #{resKey,jdbcType=BIGINT},
      </if>
      <if test="userKey != null">
        #{userKey,jdbcType=BIGINT},
      </if>
      <if test="commentChildId != null">
        #{commentChildId,jdbcType=BIGINT},
      </if>
      <if test="commentParentId != null">
        #{commentParentId,jdbcType=BIGINT},
      </if>
      <if test="commentDate != null">
        #{commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commentIsanonymity != null">
        #{commentIsanonymity,jdbcType=VARCHAR},
      </if>
      <if test="commentContext != null">
        #{commentContext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CommentPo">
    update tbl_comment
    <set>
      <if test="resKey != null">
        RES_KEY = #{resKey,jdbcType=BIGINT},
      </if>
      <if test="userKey != null">
        USER_KEY = #{userKey,jdbcType=BIGINT},
      </if>
      <if test="commentChildId != null">
        COMMENT_CHILD_ID = #{commentChildId,jdbcType=BIGINT},
      </if>
      <if test="commentParentId != null">
        COMMENT_PARENT_ID = #{commentParentId,jdbcType=BIGINT},
      </if>
      <if test="commentDate != null">
        COMMENT_DATE = #{commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commentIsanonymity != null">
        COMMENT_ISANONYMITY = #{commentIsanonymity,jdbcType=VARCHAR},
      </if>
      <if test="commentContext != null">
        COMMENT_CONTEXT = #{commentContext,jdbcType=VARCHAR},
      </if>
    </set>
    where COMMENT_ID = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CommentPo">
    update tbl_comment
    set RES_KEY = #{resKey,jdbcType=BIGINT},
      USER_KEY = #{userKey,jdbcType=BIGINT},
      COMMENT_CHILD_ID = #{commentChildId,jdbcType=BIGINT},
      COMMENT_PARENT_ID = #{commentParentId,jdbcType=BIGINT},
      COMMENT_DATE = #{commentDate,jdbcType=TIMESTAMP},
      COMMENT_ISANONYMITY = #{commentIsanonymity,jdbcType=VARCHAR},
      COMMENT_CONTEXT = #{commentContext,jdbcType=VARCHAR}
    where COMMENT_ID = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnu.softwarecollege.infocenter.entity.po.CommentPo">
    update tbl_comment
    set RES_KEY = #{resKey,jdbcType=BIGINT},
      USER_KEY = #{userKey,jdbcType=BIGINT},
      COMMENT_CHILD_ID = #{commentChildId,jdbcType=BIGINT},
      COMMENT_PARENT_ID = #{commentParentId,jdbcType=BIGINT},
      COMMENT_DATE = #{commentDate,jdbcType=TIMESTAMP},
      COMMENT_ISANONYMITY = #{commentIsanonymity,jdbcType=VARCHAR}
    where COMMENT_ID = #{commentId,jdbcType=BIGINT}
  </update>
</mapper>