<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.softwarecollege.infocenter.mapper.HotpotPoMapper">
  <resultMap id="BaseResultMap" type="com.hnu.softwarecollege.infocenter.entity.po.HotpotPo">
    <id column="HOTPOT_ID" jdbcType="BIGINT" property="hotpotId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_hotpot
    where HOTPOT_ID = #{hotpotId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hnu.softwarecollege.infocenter.entity.po.HotpotPo">
    insert into tbl_hotpot (HOTPOT_ID)
    values (#{hotpotId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.HotpotPo">
    insert into tbl_hotpot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hotpotId != null">
        HOTPOT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hotpotId != null">
        #{hotpotId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>