<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.softwarecollege.infocenter.mapper.WeatherPoMapper">
  <resultMap id="BaseResultMap" type="com.hnu.softwarecollege.infocenter.entity.po.WeatherPo">
    <id column="WEATHER_CODE" jdbcType="INTEGER" property="weatherCode" />
    <result column="WEATHER_CITY_NAME" jdbcType="VARCHAR" property="weatherCityName" />
    <result column="WEATHER_DATE" jdbcType="VARCHAR" property="weatherDate" />
    <result column="WEATHER_SUNRISE" jdbcType="VARCHAR" property="weatherSunrise" />
    <result column="WEATHER_HIGH" jdbcType="VARCHAR" property="weatherHigh" />
    <result column="WEATHER_LOW" jdbcType="VARCHAR" property="weatherLow" />
    <result column="WEATHER_TEMPERATURE" jdbcType="VARCHAR" property="weatherTemperature"/>
    <result column="WEATHER_SUNSET" jdbcType="VARCHAR" property="weatherSunset" />
    <result column="WEATHER_AQI" jdbcType="REAL" property="weatherAqi" />
    <result column="WEATHER_NOTICE" jdbcType="VARCHAR" property="weatherNotice" />
    <result column="WEATHER_TYPE" jdbcType="VARCHAR" property="weatherType" />
    <result column="WEATHER_FL" jdbcType="VARCHAR" property="weatherFl" />
    <result column="WEATHER_FX" jdbcType="VARCHAR" property="weatherFx" />
  </resultMap>
  <sql id="Base_Column_List">
    WEATHER_CODE, WEATHER_CITY_NAME, WEATHER_DATE, WEATHER_SUNRISE, WEATHER_HIGH, WEATHER_LOW,
    WEATHER_TEMPERATURE,WEATHER_SUNSET, WEATHER_AQI, WEATHER_NOTICE, WEATHER_TYPE, WEATHER_FL, WEATHER_FX
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_weather
    where WEATHER_CODE = #{weatherCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_weather
    where WEATHER_CODE = #{weatherCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hnu.softwarecollege.infocenter.entity.po.WeatherPo">
    insert into tbl_weather (WEATHER_CODE, WEATHER_CITY_NAME, WEATHER_DATE, 
      WEATHER_SUNRISE, WEATHER_HIGH, WEATHER_LOW,WEATHER_TEMPERATURE,
      WEATHER_SUNSET, WEATHER_AQI, WEATHER_NOTICE, 
      WEATHER_TYPE, WEATHER_FL, WEATHER_FX
      )
    values (#{weatherCode,jdbcType=INTEGER}, #{weatherCityName,jdbcType=VARCHAR}, #{weatherDate,jdbcType=VARCHAR}, 
      #{weatherSunrise,jdbcType=VARCHAR}, #{weatherHigh,jdbcType=VARCHAR}, #{weatherLow,jdbcType=VARCHAR}, #{weatherTemperature,jdbcType=VARCHAR},
      #{weatherSunset,jdbcType=VARCHAR}, #{weatherAqi,jdbcType=REAL}, #{weatherNotice,jdbcType=VARCHAR}, 
      #{weatherType,jdbcType=VARCHAR}, #{weatherFl,jdbcType=VARCHAR}, #{weatherFx,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.WeatherPo">
    insert into tbl_weather
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="weatherCode != null">
        WEATHER_CODE,
      </if>
      <if test="weatherCityName != null">
        WEATHER_CITY_NAME,
      </if>
      <if test="weatherDate != null">
        WEATHER_DATE,
      </if>
      <if test="weatherSunrise != null">
        WEATHER_SUNRISE,
      </if>
      <if test="weatherHigh != null">
        WEATHER_HIGH,
      </if>
      <if test="weatherLow != null">
        WEATHER_LOW,
      </if>
      <if test="weatherTemperature !=null">
        WEATHER_TEMPERATURE,
      </if>
      <if test="weatherSunset != null">
        WEATHER_SUNSET,
      </if>
      <if test="weatherAqi != null">
        WEATHER_AQI,
      </if>
      <if test="weatherNotice != null">
        WEATHER_NOTICE,
      </if>
      <if test="weatherType != null">
        WEATHER_TYPE,
      </if>
      <if test="weatherFl != null">
        WEATHER_FL,
      </if>
      <if test="weatherFx != null">
        WEATHER_FX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="weatherCode != null">
        #{weatherCode,jdbcType=INTEGER},
      </if>
      <if test="weatherCityName != null">
        #{weatherCityName,jdbcType=VARCHAR},
      </if>
      <if test="weatherDate != null">
        #{weatherDate,jdbcType=VARCHAR},
      </if>
      <if test="weatherSunrise != null">
        #{weatherSunrise,jdbcType=VARCHAR},
      </if>
      <if test="weatherHigh != null">
        #{weatherHigh,jdbcType=VARCHAR},
      </if>
      <if test="weatherLow != null">
        #{weatherLow,jdbcType=VARCHAR},
      </if>
      <if test="weatherTemperature !=null">
        WEATHER_TEMPERATURE,
      </if>
      <if test="weatherSunset != null">
        #{weatherSunset,jdbcType=VARCHAR},
      </if>
      <if test="weatherAqi != null">
        #{weatherAqi,jdbcType=REAL},
      </if>
      <if test="weatherNotice != null">
        #{weatherNotice,jdbcType=VARCHAR},
      </if>
      <if test="weatherType != null">
        #{weatherType,jdbcType=VARCHAR},
      </if>
      <if test="weatherFl != null">
        #{weatherFl,jdbcType=VARCHAR},
      </if>
      <if test="weatherFx != null">
        #{weatherFx,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnu.softwarecollege.infocenter.entity.po.WeatherPo">
    update tbl_weather
    <set>
      <if test="weatherCityName != null">
        WEATHER_CITY_NAME = #{weatherCityName,jdbcType=VARCHAR},
      </if>
      <if test="weatherDate != null">
        WEATHER_DATE = #{weatherDate,jdbcType=VARCHAR},
      </if>
      <if test="weatherSunrise != null">
        WEATHER_SUNRISE = #{weatherSunrise,jdbcType=VARCHAR},
      </if>
      <if test="weatherHigh != null">
        WEATHER_HIGH = #{weatherHigh,jdbcType=VARCHAR},
      </if>
      <if test="weatherLow != null">
        WEATHER_LOW = #{weatherLow,jdbcType=VARCHAR},
      </if>
      <if test="weatherTemperature !=null">
        WEATHER_TEMPERATURE = #{weatherTemperature,jdbcType=VARCHAR},
      </if>
      <if test="weatherSunset != null">
        WEATHER_SUNSET = #{weatherSunset,jdbcType=VARCHAR},
      </if>
      <if test="weatherAqi != null">
        WEATHER_AQI = #{weatherAqi,jdbcType=REAL},
      </if>
      <if test="weatherNotice != null">
        WEATHER_NOTICE = #{weatherNotice,jdbcType=VARCHAR},
      </if>
      <if test="weatherType != null">
        WEATHER_TYPE = #{weatherType,jdbcType=VARCHAR},
      </if>
      <if test="weatherFl != null">
        WEATHER_FL = #{weatherFl,jdbcType=VARCHAR},
      </if>
      <if test="weatherFx != null">
        WEATHER_FX = #{weatherFx,jdbcType=VARCHAR},
      </if>
    </set>
    where WEATHER_CODE = #{weatherCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnu.softwarecollege.infocenter.entity.po.WeatherPo">
    update tbl_weather
    set WEATHER_CITY_NAME = #{weatherCityName,jdbcType=VARCHAR},
      WEATHER_DATE = #{weatherDate,jdbcType=VARCHAR},
      WEATHER_SUNRISE = #{weatherSunrise,jdbcType=VARCHAR},
      WEATHER_HIGH = #{weatherHigh,jdbcType=VARCHAR},
      WEATHER_LOW = #{weatherLow,jdbcType=VARCHAR},
      WEATHER_TEMPERATURE = #{weatherTemperature,jdbcType=VARCHAR}
      WEATHER_SUNSET = #{weatherSunset,jdbcType=VARCHAR},
      WEATHER_AQI = #{weatherAqi,jdbcType=REAL},
      WEATHER_NOTICE = #{weatherNotice,jdbcType=VARCHAR},
      WEATHER_TYPE = #{weatherType,jdbcType=VARCHAR},
      WEATHER_FL = #{weatherFl,jdbcType=VARCHAR},
      WEATHER_FX = #{weatherFx,jdbcType=VARCHAR}
    where WEATHER_CODE = #{weatherCode,jdbcType=INTEGER}
  </update>
</mapper>